*{
    margin:0;
    padding:0;
}
.top-header{
    width:100%;
    background:#149777;
    height: 250px;
}
.nav{
    position:relative;
}

.inline{
    display:inline-block;
}
.heading-image {
    height: 40px;
    width: 40px;
    padding-top: 14px;
}
.heading-text1{
    color:#fff;
    font-size:25px;
    position:absolute;
    bottom:12px;
}
.heading-text2{
    color:#fff;
    cursor:pointer;
    position: absolute;
    left:188px;
    top: 23px;
    font-size: 16px;
    width:160px;
}
.main-inline{
    position: absolute;
    left: 200px;

}
.heading-button{
    position:
    absolute;
    left: 310px;
    top: 20px;
    height: 32px;
    width: 63px;
    background-color: #149777;
    border-color: #00000024;
    border-radius: 5px;
    color: #fff;
    font-weight: 400;
}
.left-text{
    float:right;
    

}
.main-inline2{
    margin-right:200px;
}
.text2{
    color:#fff;
    margin-right:20px;
    margin-top:26px;
}
.text1{
    color:#fff;
    margin-right:20px;
    margin-top:27px;
}
.left-button{
  padding:15px 25px;
  background-color:#ffc800;
  border:none;
  border-radius:5px;
  margin-top:15px;

}
.left-img{
    height: 20px;
    width: 20px;
    padding-top: 27px;
    margin-right: 4px;
}
.left-img2{
    height: 20px;
    width: 20px;
    padding-top: 27px;
    margin-right: 8.5px;
}
a .left-a{
    cursor: pointer;
}